forms:
  #SHEETS PROFESSORES
  - name: "professor_fase_linha_base"
    spreadsheet_id: "<SPREADSHEET_ID>"
    range: "RESP_PROFESSOR1!A:U"
    type: "PROFESSOR"
    fase: "linha_base"
  - name: "professor_fase_lavanda"
    spreadsheet_id: "<SPREADSHEET_ID>"
    range: "RESP_PROFESSOR2!A:U"
    type: "PROFESSOR"
    fase: "lavanda"
  - name: "professor_fase_mandarina"
    spreadsheet_id: "<SPREADSHEET_ID>"
    range: "RESP_PROFESSOR3!A:U"
    type: "PROFESSOR"
    fase: "mandarina"
  - name: "professor_fase_patchouli"
    spreadsheet_id: "<SPREADSHEET_ID>"
    range: "RESP_PROFESSOR4!A:U"
    type: "PROFESSOR"
    fase: "patchouli"
  - name: "professor_fase_ylang"
    spreadsheet_id: "<SPREADSHEET_ID>"
    range: "RESP_PROFESSOR5!A:U"
    type: "PROFESSOR"
    fase: "ylang"

  #SHEETS RESPONSAVEL
  - name: "pais_fase_linha_base"
    spreadsheet_id: "<SPREADSHEET_ID>"
    range: "RESP_PAIS1!A:K"
    type: "RESPONSAVEL"
    fase: "linha_base"
  - name: "pais_fase_lavanda"
    spreadsheet_id: "<SPREADSHEET_ID>"
    range: "RESP_PAIS2!A:K"
    type: "RESPONSAVEL"
    fase: "lavanda"
  - name: "pais_fase_mandarina"
    spreadsheet_id: "<SPREADSHEET_ID>"
    range: "RESP_PAIS3!A:K"
    type: "RESPONSAVEL"
    fase: "mandarina"
  - name: "pais_fase_patchouli"
    spreadsheet_id: "<SPREADSHEET_ID>"
    range: "RESP_PAIS4!A:K"
    type: "RESPONSAVEL"
    fase: "patchouli"
  - name: "pais_fase_ylang"
    spreadsheet_id: "<SPREADSHEET_ID>"
    range: "RESP_PAIS5!A:K"
    type: "RESPONSAVEL"
    fase: "ylang"
